<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.education.admin.mapper.EduMembersManageclassesMapper">
    
    <resultMap type="EduMembersManageclasses" id="EduMembersManageclassesResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="schoolId"    column="school_id"    />
        <result property="studentsNum"    column="students_num"    />
        <result property="headteacher"    column="headteacher"    />
        <result property="phone"    column="phone"    />
        <result property="committee"    column="committee"    />
        <result property="createTime"    column="create_time"    />
        <result property="classRepresentative"    column="class_representative"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectEduMembersManageclassesVo">
        select id, name, school_id, students_num, headteacher, phone, committee, create_time, class_representative, update_time, update_by, create_by from edu_members_manageclasses
    </sql>

    <select id="selectEduMembersManageclassesList" parameterType="EduMembersManageclasses" resultMap="EduMembersManageclassesResult">
        <include refid="selectEduMembersManageclassesVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="schoolId != null "> and school_id = #{schoolId}</if>
            <if test="studentsNum != null "> and students_num = #{studentsNum}</if>
            <if test="headteacher != null "> and headteacher = #{headteacher}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="committee != null  and committee != ''"> and committee = #{committee}</if>
            <if test="classRepresentative != null  and classRepresentative != ''"> and class_representative = #{classRepresentative}</if>
        </where>
    </select>
    
    <select id="selectEduMembersManageclassesById" parameterType="Long" resultMap="EduMembersManageclassesResult">
        <include refid="selectEduMembersManageclassesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEduMembersManageclasses" parameterType="EduMembersManageclasses" useGeneratedKeys="true" keyProperty="id">
        insert into edu_members_manageclasses
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="schoolId != null">school_id,</if>
            <if test="studentsNum != null">students_num,</if>
            <if test="headteacher != null">headteacher,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="committee != null and committee != ''">committee,</if>
            <if test="createTime != null">create_time,</if>
            <if test="classRepresentative != null and classRepresentative != ''">class_representative,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="schoolId != null">#{schoolId},</if>
            <if test="studentsNum != null">#{studentsNum},</if>
            <if test="headteacher != null">#{headteacher},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="committee != null and committee != ''">#{committee},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="classRepresentative != null and classRepresentative != ''">#{classRepresentative},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateEduMembersManageclasses" parameterType="EduMembersManageclasses">
        update edu_members_manageclasses
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="schoolId != null">school_id = #{schoolId},</if>
            <if test="studentsNum != null">students_num = #{studentsNum},</if>
            <if test="headteacher != null">headteacher = #{headteacher},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="committee != null and committee != ''">committee = #{committee},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="classRepresentative != null and classRepresentative != ''">class_representative = #{classRepresentative},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEduMembersManageclassesById" parameterType="Long">
        delete from edu_members_manageclasses where id = #{id}
    </delete>

    <delete id="deleteEduMembersManageclassesByIds" parameterType="String">
        delete from edu_members_manageclasses where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>