<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.file.mapper.UserFileMapper">

    <update id="replaceFilePath">
        UPDATE file_userfile
        SET filepath=REPLACE(filepath, #{oldFilePath}, #{filePath})
        WHERE filepath LIKE N'${oldFilePath}%'
          AND userId = #{userId};
    </update>

    <select id="userFileList" resultType="com.ruoyi.file.vo.file.FileListVo">
        select * from file_userfile a
        left JOIN file_file on file_file.fileId = a.fileId
        left join file_image on a.fileId = file_image.fileId
        <where>
            <if test="userFile.userId != null">
                and a.userId = #{userFile.userId}
            </if>
            <if test="userFile.filePath != null">
                and a.filePath = #{userFile.filePath}
            </if>
            <if test="userFile.extendName != null">
                and a.extendName = #{userFile.extendName}
            </if>
            <if test="userFile.userFileId != null">
                and a.userFileId = #{userFile.userFileId}
            </if>
            <if test="userFile.fileName != null">
                and a.fileName = #{userFile.fileName}
            </if>
            and a.deleteFlag = 0
        </where>
        ORDER BY isDir desc
        <if test="beginCount != null and pageCount != null">
            limit #{beginCount}, #{pageCount}
        </if>
    </select>

    <sql id="selectByExtendName">
        left JOIN file_file on file_file.fileId = file_userfile.fileId
        where extendName in
        <foreach collection="fileNameList" open="(" close=")" separator="," item="fileName">
            #{fileName}
        </foreach>
        and userId = #{userId}
        and deleteFlag = 0
    </sql>
    <sql id="selectByNotExtendName">
        left JOIN file_file on file_file.fileId = file_userfile.fileId
        where extendName not in
        <foreach collection="fileNameList" open="(" close=")" separator="," item="fileName">
            #{fileName}
        </foreach>
        and userId = #{userId}
        and deleteFlag = 0
    </sql>
    <select id="selectFileByExtendName" parameterType="com.ruoyi.file.domain.UserFile"
            resultType="com.ruoyi.file.vo.file.FileListVo">
        select * from file_userfile
        left join file_image on file_userfile.fileId = file_image.fileId
        <include refid="selectByExtendName"></include>
        limit #{beginCount}, #{pageCount}
    </select>

    <select id="selectCountByExtendName" parameterType="com.ruoyi.file.domain.UserFile"
            resultType="java.lang.Long">
        select count(*) from file_userfile
        <include refid="selectByExtendName"></include>
    </select>

    <select id="selectFileNotInExtendNames" parameterType="com.ruoyi.file.domain.UserFile"
            resultType="com.ruoyi.file.vo.file.FileListVo">
        select * from file_userfile
        <include refid="selectByNotExtendName"></include>
        limit #{beginCount}, #{pageCount}
    </select>

    <select id="selectCountNotInExtendNames" parameterType="com.ruoyi.file.domain.UserFile"
            resultType="java.lang.Long">
        select count(*) from file_userfile
        <include refid="selectByNotExtendName"></include>
    </select>


    <update id="updateFilepathByFilepath">
        UPDATE file_userfile
        SET filePath=REPLACE(filePath, #{param1}, #{param2})
        WHERE filePath LIKE N'${param1}%'
          AND userId = #{param3}
    </update>

    <update id="updateFilepathByPathAndName">
        UPDATE file_userfile set filePath = #{param2}
        where filePath = #{param1} and fileName = #{param3}
        <if test="param4 != null">
            and extendName = #{param4}
        </if>
        <if test="param4 == null">
            and extendName is null
        </if>
        and userId = #{param5}
    </update>

    <insert id="batchInsertByPathAndName">
        insert into file_userfile ( deleteBatchNum, deleteFlag, deleteTime,
        extendName, fileId, fileName, filePath, isDir, uploadTime, userId)
        (select deleteBatchNum, deleteFlag, deleteTime, extendName, fileId,
        fileName, #{newFilePath}, isDir, uploadTime, userId
        from file_userfile
        <where>
            <if test="userId != 0">
                and userId = #{userId}
            </if>
            <if test="fileName != null">
                and fileName = #{fileName}
            </if>
            <if test="oldFilePath != null">
                and filePath = #{oldFilePath}
            </if>
            <choose>
                <when test="extendName != null">
                    and extendName = #{extendName}
                </when>
                <otherwise>
                    and isDir = 1
                </otherwise>
            </choose>
        </where>

        )
    </insert>

    <update id="batchInsertByFilepath">
        INSERT INTO file_userfile (deleteBatchNum, deleteFlag, deleteTime,
                              extendName, fileId, fileName, filePath, isDir, uploadTime, userId)
            (SELECT deleteBatchNum,
                    deleteFlag,
                    deleteTime,
                    extendName,
                    fileId,
                    fileName,
                    REPLACE(filePath, #{oldFilePath}, #{newFilePath}),
                    isDir,
                    uploadTime,
                    userId
             FROM file_userfile
             WHERE filePath LIKE N'${oldFilePath}%'
               AND userId = #{userId}
            )
    </update>


    <select id="selectStorageSizeByUserId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT SUM(fileSize)
        FROM file_userfile
                 left JOIN file_file on file_file.fileId = file_userfile.fileId
        WHERE file_userfile.userId = #{userId}
    </select>

</mapper>
