



@mixin setScrollbar($scrollbarWidth, $trackColor: #EBEEF5, $thumbColor: #909399) {
  &::-webkit-scrollbar  {
    width: $scrollbarWidth;
  }&::-webkit-scrollbar-track  {
    background-color: $trackColor;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }&::-webkit-scrollbar-thumb  {
    background-color: $thumbColor;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }
}




@mixin setEllipsis($line) {
  display: -webkit-box;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical; /* -webkit-box-orient 必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 */
  -webkit-line-clamp: $line; /* -webkit-line-clamp用来限制在一个块元素显示的文本的行数 */
}
